*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("resource/Background/5dc350fb8ef7a2c3dbdb1e3d4bc44083.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    padding: 30px;
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
}


.header-ul{
    list-style: none;
    float: right;
}

.header-ul-li{
    display: inline-block;
}

.centerText{
    padding: 100px;
}

#img2{
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

#img3{
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

#img1TEXT{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 140px;
    position: relative;
    font-size: 60px;
}

.grid{
    display: grid;
    grid-template-columns: 3fr 9fr ;
}

.grid2{
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.mainsection {
    border-top: 1px solid white;
}

.navmain {
    text-align: center;
    padding-top: 10px;
    background-color: black;
    height: auto;
}

.articlemain{
    padding-top: 20px;
    background-color: white;
    height: auto;
}

.adsmain{
    background-color: black;
    height: auto;
}

.navsidebar{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.video{
    width: 500px;
    height: auto;
}

.Topic{
    font-size: 40px;
    text-align: center;
}
.Topic-right{
    font-size: 40px;
    text-align: right;
    margin-right: 20px;
}
.Topic-left{
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
}


/* พารากราฟ1 */
.indexparagraph1{
    border-bottom: 1px solid black;
}

.paragraph1picture{
    margin:20px;
    float: left;
    display: inline;
    box-shadow: 5px 5px 5px gray;
}

.paragraphtext{
    margin:20px;
    text-align: left;
    font-size: 20px;
    
}

.mark-text{
    font-weight: bold;
}

.paragraph2picture{
    clear: both;
    margin:20px;
    float: right;
    display: inline;
    box-shadow: 5px 5px 5px gray;
}

footer{
    clear: both;
    width: 100%;
}

/* ************************************** My journey ******************************************************************* */

.paragraph3{
    width: 100%;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;

}

.paragraph2picture{
    margin:20px;
    box-shadow: 5px 5px 5px gray;
}

.paragraph2picturegroup1{
    float: left;
}

.paragraph2picturegroup2{
    float: right;
}

footer{
    clear: both;
    /* width: 100%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: gray;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* myfuture */

.img4{
    width: 400px;
    height :170px;
    text-align: center;
    margin:20px;
    box-shadow: 5px 5px 5px gray;
}


/* ************************************** Text - font ******************************************************************* */
.CMDfont{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
.CMDfontheader{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

.CMDfont2{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}



/* ************************************** condition ******************************************************************* */

/* forphone */
@media only screen and (max-width: 600px) {

    .grid {
        display: block;
    }
    .grid2{
        display: block;
    }
    .centerText{
        padding: 50px;
    }
    .navmain {
        text-align: center;
        padding-top: 10px;
        background-color: black;
        height: auto;
    }
    #img2{
        width: 300px;
        height: auto;
    }
    
    #img3{
        width: 300px;
        height: auto;
    }
    .video{
        width: 300px;
        height: auto;
    }

  }

  /* foripad */
  @media only screen and (max-width: 900px) {
    .grid2{
        display: block;
    }
  }

